*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-flow: row wrap;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}