.system{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('../../imgs/bg-img-fourth.png');
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
}
.system__box{
    background: radial-gradient(43.26% 60% at 70.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.system__desc{
    font-family: $font-bebas;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}
.system__title{
    font-family: $font-bebas;
    font-weight: bold;
    font-size: 75px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 90px;
}
.system__inner{
    width: 575px;
    border: solid 1px #979797;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}
.system__list{
    width: 100%;
    display: grid;
    color: #fff;
    grid-template-columns: 50% 50%;
    grid-template-rows: 125px 125px 140px;
    
}
.system__items{
    border: solid 1px #979797;
    padding: 15px 0 0 15px ;
}
.system__items-title{
    font-family: $font-bebas;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #ffb548;
    margin-bottom: 6px;
}
.system__items-text{
    font-family: $font-opensans;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.system__items:last-child{
    grid-column: 1/3;
}
.system__cont{
    height: 100%;
}
@media screen and (max-width:992px) {
    .system__box{
        padding-top: 50px;
    }
    .system__list{
        grid-template-rows: 100px 100px 120px;
    }
    .system__title{
        margin-bottom: 60px;
    }
}
@media screen and(max-width:576px) {
    .system__desc{
        font-size: 18px;
        line-height: 18px;
    }
    .system__title{
        font-size: 33px;
        line-height: 33px;
    }
    .system__inner{
        width: 100%;
    }
    .system__items{
        padding-bottom: 15px;
    }
    .system__list{
        grid-template-rows: auto auto auto;
    }
    .system{
        background-position: right bottom;

    }
    .system__box{
        background: radial-gradient(41.54% 38.14% at 50.49% 75.05%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 46.19%, #080A0B 100%);
    }
}